{{ define "body-content" }}
<main class="flex justify-center min-h-screen">
  <div class="flex flex-col items-stretch gap-4 p-8 w-96">
    <h1 class="text-lg font-bold text-center">todos</h1>
    <form
      hx-post="/todos"
      hx-target="#todo-list-container"
      hx-disabled-elt="#new-todo-content"
      hx-on:htmx:after-request="this.reset()"
      class="flex flex-col"
    >
      <input
        class="outline-none background-none"
        id="new-todo-content"
        name="content"
        autocomplete="off"
        placeholder="what needs to be done?"
        required
      />
    </form>
    <div hx-get="/todos" hx-trigger="load" id="todo-list-container"></div>
  </div>
</main>
{{ end }}
